# Arquivos de Dependências
/node_modules/
/venv/

# Arquivos de Ambiente (NUNCA ENVIE SUAS SENHAS E CHAVES!)
.env
# Arquivos de Cache e Build do Python
__pycache__/
*.pyc

# Arquivos de Log
*.log

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db